:host {
    --slds-c-card-header-spacing-block-end: 0px;
    --slds-c-card-header-spacing-block-start: 0px;

    --slds-c-card-body-spacing-block-start: 0px;
    --slds-c-card-body-spacing-block-end: 0px;

    --slds-c-card-color-border: #c9c9c9;
}

.slds-border_top {
    border-color: #c9c9c9;
}